.App {
  text-align: center;
}
/*
.sprite_character{
  background-image: url('./sprites/characters/personagem_masculino.png');
  display: inline-block;
  background-repeat: no-repeat;
}

.sprite_character_dimentions {
  width: 200px;
  height: 200px;
  background-position: 0px 0px;
}
*/

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/*
@keyframes walk{
  0% {
    background-position: 0px 0px;
  }
  25% {
    background-position: -200px 0px;
  }
  50%{
    background-position: -400px 0px;
  }
  75%{
    background-position: -600px 0px;
  }
  100%{
    background-position: 0px 0px;
  }
}

.sprite_character_dimentions{
  animation: walk 2s infinite step-start;
} */